<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Musafir</title>
</head>
<body>
    <div>
        Source Station: <br>
        <input type="text" name="source" id="source"><br>
        Destination Station: <br>
        <input type="text" name="destination" id="destination"><br>
        Date of Journey : <br>
        <input type="date" name="date" id="date"><br>
        <button onclick="searchTrains()" >Search</button>
    </div>

    <div>
        <ul id="result">

        </ul>
    </div>

    <script src="../Controllers/index.js"></script>
</body>
</html>